!!!
%html{:lang => "en"}
  %head
    %meta{:charset => "utf-8"}/
    %title Last links
    %link{:rel => "stylesheet", :href => "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css"}/
    %link{:rel => "stylesheet", :href => "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css"}/
  %body
    .container
      - if chan
        %h3= "Recent links for '#{chan}'"
      - else
        %h3 Recent links
      %hr
      %form.form-inline{:method => :get, :action => '#'}
        .form-group
          %label{:for => :chan}Channel
          %input.form-control{:type => :text, :id => :chan, :name => :chan, :placeholder => 'No need for #'}
          %button.btn.btn-default{:type => :submit} Filter
      %hr
      - if links.any?
        %table.table.table-striped
          %thead
            %tr
              %th #
              %th URL (and title)
              %th Who
              %th When
              %th Where
          %tbody
            - links.each_with_index do |l, i|
              %tr
                %td.center
                  %b= i+1
                %td
                  - if l.url.length > 100
                    - url_text = l.url.slice(0, 89) + '...' + l.url.slice(-8, 8)
                  - else
                    - url_text = l.url
                  %a{:href => l.url, :target => '_blank'}= url_text
                  - if l.title
                    %br
                    %small= l.title
                %td= l.user.split('!').first
                %td= l.stamp.utc.strftime('%Y-%m-%d %H:%M:%S %Z')
                %td= l.channel
      - else
        %h4 No links on record, yet.
        %hr
      %small
        Made possible with Catabot #{CataBot.config['runtime']['version']}.
