!!!
%html{:lang => "en"}
  %head
    %meta{:charset => "utf-8"}/
    %title Recent rules
    %link{href: '/assets/favicon.ico', rel: 'icon', type: 'image/x-icon'}/
    %link{:rel => "stylesheet", :href => "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css"}/
    %link{:rel => "stylesheet", :href => "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css"}/
    %link{:rel => "stylesheet", :href => "http://kaer.eu.org/~drbig/tablesorter.css"}/
    %script{:src => "https://code.jquery.com/jquery-2.1.3.min.js"}
    %script{:src => "https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.21.4/js/jquery.tablesorter.js"}
  %body
    .container
      %h3
        %img{:src => '/assets/icon.png', :alt => 'CopperTube'}
        Recent rules
      %hr
      - if recent.any?
        %table.table.table-striped{:id => 'dataTable'}
          %thead
            %tr
              %th= '#&nbsp;&nbsp;'
              %th= 'Pts&nbsp;&nbsp;'
              %th Text
              %th Who
              %th When
              %th Where
          %tbody
            - recent.each do |r|
              %tr
                %td.center
                  %b= r.id
                %td.center
                  - if r.score < 0
                    %span{style: 'color: red;'}= r.score
                  - else
                    %span{style: 'color: green;'}= r.score
                %td= r.text
                %td.text-nowrap= r.user.split('!').first
                %td.text-nowrap= r.stamp.utc.strftime('%Y-%m-%d %H:%M:%S %Z')
                %td.text-nowrap= r.channel
      - else
        %h4 No rules on record, yet.
        %hr
      %small
        Made possible with Catabot #{CataBot.config['runtime']['version']}.
    %script
      $(document).ready(function() { $("#dataTable").tablesorter(); });
