!!!
%html{:lang => "en"}
  %head
    %meta{:charset => "utf-8"}/
    %title Fact browser
    %link{href: '/assets/favicon.ico', rel: 'icon', type: 'image/x-icon'}/
    %link{:rel => "stylesheet", :href => "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css"}/
    %link{:rel => "stylesheet", :href => "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css"}/
    %link{:rel => "stylesheet", :href => "http://kaer.eu.org/~drbig/tablesorter.css"}/
    %script{:src => "https://code.jquery.com/jquery-2.1.3.min.js"}
    %script{:src => "https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.21.4/js/jquery.tablesorter.js"}
  %body
    .container
      %h3
        %img{:src => '/assets/icon.png', :alt => 'CopperTube'}
        Fact browser
      %hr
      %form.form-inline{:method => :get, :action => '#'}
        .form-group
          %label{:for => :channel} Channel
          %select.form-control{:id => :channel, :name => :channel, :value => channel}
            - channels.each do |c|
              %option{:value => c, :selected => (c == channel)}= c
          %label{:for => :keyword} Keyword
          %input.form-control{:type => :text, :id => :keyword, :name => :keyword, :value => keyword}
          %button.btn.btn-default{:type => :submit} Search
      %hr
      - if facts.any?
        %table.table.table-striped{:id => 'dataTable'}
          %thead
            %tr
              %th= '#&nbsp;&nbsp;'
              %th= 'Pts&nbsp;&nbsp;'
              %th Keyword
              %th Text
              %th Who
              %th When
          %tbody
            - facts.each do |f|
              %tr
                %td.center
                  %b= f.id
                %td.center
                  - if f.score < 0
                    %span{style: 'color: red;'}= f.score
                  - else
                    %span{style: 'color: green;'}= f.score
                %td.text-nowrap&= f.keyword
                %td&= f.text
                %td.text-nowrap= f.user.split('!').first
                %td.text-nowrap= f.stamp.utc.strftime('%Y-%m-%d %H:%M:%S %Z')
      - else
        %h4 No facts found.
        %hr
      %small
        Made possible with
        %a{href: 'https://github.com/drbig/catabot', target: '_blank'} Catabot
        #{CataBot.config['runtime']['version']}.
    %script
      $(document).ready(function() { $("#dataTable").tablesorter(); });
