!!!
%html{:lang => "en"}
  %head
    %meta{:charset => "utf-8"}/
    %title Recent facts
    %link{:rel => "stylesheet", :href => "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css"}/
    %link{:rel => "stylesheet", :href => "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css"}/
  %body
    .container
      %h3 Recent facts
      %hr
      - if recent.any?
        %table.table.table-striped
          %thead
            %tr
              %th #
              %th Keyword
              %th Text
              %th Who
              %th When
              %th Where
          %tbody
            - recent.each do |r|
              %tr
                %td.center
                  %b= r.id
                %td= r.keyword
                %td= r.text
                %td= r.user.split('!').first
                %td= r.stamp.utc.strftime('%Y-%m-%d %H:%M:%S %Z')
                %td= r.channel
      - else
        %h4 No facts on record, yet :(
        %hr
      %small
        Made possible with Catabot #{CataBot.config['runtime']['version']}.
